# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# custom
nginx.conf
ssl

# dependencies
node_modules

# next.js
.next
out

# production
build
dist

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo
next-env.d.ts

package-lock.json

*/tmp/